# ${PLUGIN_NAME}

This is a plugin for [Obsidian](https://obsidian.md/) that ${PLUGIN_PURPOSE_SHORT}.

${PLUGIN_PURPOSE_LONG}

## Installation

- `${PLUGIN_NAME}` is not available on [the official Community Plugins repository](https://obsidian.md/plugins) yet.
- Beta releases can be installed through [BRAT](https://github.com/TfTHacker/obsidian42-brat)
