# ${PLUGIN_NAME}

## Installation

- `${PLUGIN_NAME}` is not available on [the official Community Plugins repository](https://obsidian.md/plugins) yet.
- Beta releases can be installed through [BRAT](https://github.com/TfTHacker/obsidian42-brat)
